---
import { ArrowRight } from "lucide-react";
import { Card, CardHeader, CardContent } from "./ui/card";

const { title, description, url, imgSrc } = Astro.props;
---

<a href={url} target="_blank" class="w-full max-w-[600px]">
  <Card className="group cursor-pointer">
    <CardHeader className="pb-0 space-y-0 relative">
      <h4 class="text-2xl">{title}</h4>
      <p class="text-secondary-foreground font-light mt-0">{description}</p>
      <ArrowRight
        className="absolute top-1/2 right-4 -translate-y-1/2 text-secondary-foreground group-hover:text-white transition-colors duration-200"
      />
    </CardHeader>
    <CardContent className="p-4">
      <img
        alt={title}
        src={imgSrc}
        width={566}
        height={416}
        class="group-hover:rotate-1 portfolio-item-image w-full h-auto rounded transition-all duration-300"
      />
    </CardContent>
  </Card>
</a>
